*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}

.container{
    visibility: hidden;
}

.background{
    background-color: black;
    font-family: sans-serif;
    font-size:16px;
    max-width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    color :white;
    display: grid;
    place-items:center;
    align-content: center;  
}

#index{
    background-image:url("../images/kally-singing.webp");
}
#music{
    background-image:url("../images/kally-tam.webp");
}
#video{
    background-image:url("../images/kally.webp");
}
#contact{
    background-image:url("../images/kally-full-band.webp");
}

#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow:hidden;
    background-color: black;
    padding: 10px 25px;
    position:fixed;
    top:0;
    width: 100%;
    text-align: center;
}

#nav-bar ul{
    list-style-type: none;
}

.menu li{
    display: inline;
}

.social-menu li{
    display: inline;
}

 #nav-bar a{
    color:white;
    text-decoration: none;
} 

.logo a{  
    padding-right: 35px;
    font-weight: bold;
    font-size: 2em;
}

.page{
    text-decoration: underline 0.10em rgba(255, 255, 255, 0);
    transition: text-decoration-color 300ms;
    font-size: 1.8em;
    padding: 0 8px;
}

.page:hover{
    text-decoration-color: rgb(255, 255, 255);
}

.active-link{
    text-decoration: underline 0.10em rgba(255, 255, 255, 255);
    font-size: 1.8em;
    padding: 0 8px;
}

.social a{
    padding: 5px;
    fill: white;  
}

.social svg{
    height: 1.8em;
}

.social a:hover{
    fill:rgb(163, 56, 230);
}
